@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/animations";
@import "utils/loader";

@import "base/base";

@import "components/buttons";

@import "layouts/header";
@import "layouts/footer";


a{
    text-decoration: none;
    color:$font-color-dark;
}
#recherche{
    display:flex;
    justify-content: center;
    height:50px;
    width:100%;
    background-color:$bg-color-darken;
    box-shadow: 5px 5px 10px;
    .recherche_bloc{
        display:flex;
        justify-content: center;
        width:350px;
    }
    .recherche__position{
        padding-right:20px;
        padding-top:15px;
    }
    .recherche__lieu{
        border:none;
        width:50%;
        background-color:$bg-color-darken;
        font-size:1.5rem;
        font-weight: 600;
        color:$font-color-dark;
        
    }
}
input::placeholder{
    color:$font-color-dark;
    text-align:center;
}
.explore{
    height: 285px;
    
    text-align:center;
    background-color:$bg-color;
    padding-top:10px;
    h1{
    font-size:1.4em;    
    }
    p{
    font-size:1.4em;
    }
    
}

.function{
    display:flex;
    flex-direction:column;
    height:440px;
    
    text-align:left;
    margin-left:10px;
    
    .function__card{
    display:flex;
    flex-direction:row;
    justify-content: center;
    height:75px;
    width:325px;
    margin:auto;
    background-color:$bg-color;
    border-radius:20px;
    box-shadow: 5px 5px 20px;
    line-height:75px;
    &:hover{
        
            background-color:lighten($secondary-color,15);
            
            cursor:pointer;
            .function__card__icon{
                color:$primary-color;
                
            }
    }
    .function__card__icon{
        margin-right:20px;
        font-size: 1.5rem;
    }
    

    .function__card__number{
        background-color:$primary-color;
        border-radius:30px;
        height:30px;
        width:30px;
        text-align:center;
        line-height:30px;
        margin-top:25px;
        position:absolute;
        margin-right:330px;
    }
    .function__card__text{
        margin-right:40px;
    }

    }
}
.restaurant{
    height:1225px;
    background-color:$bg-color;
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    .restaurant__card{
        background-color:$bg-card;
        height:250px;
        width:335px;
        margin:10px 20px 10px 20px;
        border-radius:25px;
        text-align:left;
        img{
            height:175px;
            width:335px;
            border-radius:25px 25px 0 0;
            object-fit: cover;
        }
        .restaurant__card-new{
            height:30px;
            width:80px;
            background-color:$tertiary-color;
            line-height:30px;
            position:absolute;
            margin:10px 0 0 235px;
            text-align:center;
        }
        .restaurant__card__tag{
            display:flex;
            justify-content: space-around;
        }
        .restaurant__card__name{
            width:75%;
            margin-left:10px;
            margin-top:10px;
            line-height:20px;
        }
        .fa-heart{
            margin-top:15px;
            margin-right:20px;
            font-size:1.7rem;
            &:hover{
                background-clip: content-box;
                color:$primary-color; 
                
                
                
            }
        }
    }
}


//#######################\\
//####  Restaurant  #####//
//#######################//
.index__img{
    width:100%;
    height:255px;
    object-fit: cover;
    position:relative;
    top:50px;
}

.place{
  Font-family:'Shrikhand';
  height: 1200px;
  width:100%;
  text-align:center;
  background-color:$bg-color;
  border-radius:50px 50px 0 0;
  position: relative;

  border-radius:40px 40px 0 0;
    .place__name{
        padding-top:5%;
        font-size:1.5rem;
        .fa-heart{
            padding-left:60px;
            padding-right:10px;
            
            
            &:hover{
                color:$primary-color; 
                
                
            }
        }
    }
    .menu{
    Font-family:'Roboto';
    display:flex;
    flex-direction: column;
    margin-top:30px;
        .menu__part{
        font-weight: 600;
        margin-left:5%;
        text-align: left;
        animation: opacitystart 2500ms;
        }
        .menu__part::after{
            content:"";
            display: block;
            background-color:$tertiary-color;
            height:3px;
            width:40px;
            margin-top:3px;
        }
        .menu__part__dishes{
        display:flex;
        justify-content:space-between;
        height: 70px;
        width: 345px;
        background-color:$bg-card;
        box-shadow:1px 1px 5px;
        border-radius:20px;
        margin:auto;
        margin-top:15px;
        animation: slideup ease-in-out 1500ms 100ms;
            &.delay-1{
                animation: slideup ease-in-out 1500ms 300ms;
            }
            &.delay-2{
                animation: slideup ease-in-out 1500ms 500ms;
            }
            &.delay-3{
                animation: slideup ease-in-out 1500ms 700ms;
            }
            &.delay-4{
                animation: slideup ease-in-out 1500ms 900ms;
            }
            &.delay-5{
                animation: slideup ease-in-out 1500ms 1100ms;
            }
            &.delay-6{
                animation: slideup ease-in-out 1500ms 1300ms;
            }
            &.delay-7{
                animation: slideup ease-in-out 1500ms 1500ms;
            }
            &.delay-8{
                animation: slideup ease-in-out 1500ms 1700ms;
            }
            &:hover{
                 .menu__part__description{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                
                .menu__part__price{
                transform: translateX(-55px);
                  
                }
                .menu__part__check{
                transform: scaleX(1);
                opacity: 1;
                }     
            }
        }
        .menu__part__description{
            font-size:0.9rem;
            line-height:20px;
            text-align: left;
            width:250px;
            margin:15px 0 0 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            strong{
            font-size:1.1rem;
            }
        }
        .menu__part__price{
            margin:35px -70px 0 0;
            transition: transform 500ms;
            
        }
        .menu__part__check{
            height: 70px;
            width:70px;
            border-radius:0 20px 20px 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 500ms;
            opacity: 0;

        }
        .fa-check-circle{
            color:white;
            font-size:2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background:$tertiary-color;
            height: 70px;
            width:70px;
            border-radius:0 20px 20px 0;
        }
 
    }    

}


/*#################################*\
####          Media querys       ####
####            768 px           #### 
\*#################################*/

@media all and (min-width: 767px){
    .index__img{
        width:100%;
        height:400px;
        object-fit: cover;
    }
    .place .menu .menu__part{
       margin-left:15%;
    }
}
/*#################################*\
####          Media querys       ####
####            1024 px           #### 
\*#################################*/

@media all and (min-width: 1024px){
    .index__img{
        width:100%;
        height:600px;
        object-fit: cover;

    }
    .place .menu {
        display:flex;
        flex-direction:column;
        

    }
    .place .menu .menu__part{
       margin-left:15%;
    
    }
    
    .place .menu .menu__items{
        display:flex;
        
        
    }
    .btn-command{
        margin-top:100px;
        
    }

}

/*#################################*\
####          Media querys       ####
####            1440 px           #### 
\*#################################*/

@media all and (min-width: 1440px){
    .place .menu .menu__items{
        display:flex;
        justify-content: space-between;
        margin:auto;
    }
    .place .menu .menu__items .menu__part__dishes{
        margin:15px;
    }
    .btn-command{
        margin-top:100px;
        
    }
}