@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideup {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacitystart {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacitystart {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

.loader {
  position: absolute;
  margin: 5% 0 0 27%;
}

.loader_bars::before,
.loader_bars::after,
.loader_bars span,
.loader_bars span::before,
.loader_bars span::after {
  content: "";
  border-radius: 10px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 250px;
  background-color: #9356DC;
  -webkit-animation: grow 2s ease-in-out 4;
          animation: grow 2s ease-in-out 4;
  opacity: 0;
}

.loader_bars::after {
  left: 25px;
  background-color: #FF79DA;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader_bars span {
  left: 50px;
  background-color: #9356DC;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader_bars span::before {
  left: 25px;
  background-color: #FF79DA;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader_bars span::after {
  left: 50px;
  background-color: #9356DC;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: 'Roboto';
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 220px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  border: none;
  cursor: pointer;
}

.btn.btn-explore {
  margin-top: 40px;
  font-size: 1rem;
}

.btn a {
  color: white;
}

.btn:hover {
  opacity: 0.6;
  -webkit-box-shadow: 1px 1px 20px #FF79DA;
          box-shadow: 1px 1px 20px #FF79DA;
}

.btn-command {
  margin-top: 40px;
  -webkit-animation: opacitystart 3s;
          animation: opacitystart 3s;
}

header {
  height: 65px;
  padding: 40px 0;
}

.header__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 20%;
}

.header__restaurant .logo {
  padding: 0 0 0 8%;
  height: 60%;
}

.header__restaurant .arrow {
  padding: 0 0 0 0;
}

.header__restaurant .arrow .fas {
  font-size: 250%;
}

.logo {
  text-align: center;
}

.logo img {
  height: 60%;
}

footer {
  color: white;
  background-color: black;
  height: 200px;
  padding: 30px 0 20px 0;
  line-height: 30px;
}

footer img {
  width: 120px;
  padding-left: 40px;
}

footer li {
  list-style-type: none;
}

footer li i {
  padding-right: 10px;
}

footer li a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

#recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

#recherche .recherche_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
}

#recherche .recherche__position {
  padding-right: 20px;
  padding-top: 15px;
}

#recherche .recherche__lieu {
  border: none;
  width: 50%;
  background-color: #eaeaea;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

input::-webkit-input-placeholder {
  color: black;
  text-align: center;
}

input:-ms-input-placeholder {
  color: black;
  text-align: center;
}

input::-ms-input-placeholder {
  color: black;
  text-align: center;
}

input::placeholder {
  color: black;
  text-align: center;
}

.explore {
  height: 285px;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 10px;
}

.explore h1 {
  font-size: 1.4em;
}

.explore p {
  font-size: 1.4em;
}

.function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 440px;
  text-align: left;
  margin-left: 10px;
}

.function .function__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
  width: 325px;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px;
          box-shadow: 5px 5px 20px;
  line-height: 75px;
}

.function .function__card:hover {
  background-color: #ffc6ef;
  cursor: pointer;
}

.function .function__card:hover .function__card__icon {
  color: #9356DC;
}

.function .function__card .function__card__icon {
  margin-right: 20px;
  font-size: 1.5rem;
}

.function .function__card .function__card__number {
  background-color: #9356DC;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 25px;
  position: absolute;
  margin-right: 330px;
}

.function .function__card .function__card__text {
  margin-right: 40px;
}

.restaurant {
  height: 1225px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.restaurant .restaurant__card {
  background-color: white;
  height: 250px;
  width: 335px;
  margin: 10px 20px 10px 20px;
  border-radius: 25px;
  text-align: left;
}

.restaurant .restaurant__card img {
  height: 175px;
  width: 335px;
  border-radius: 25px 25px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant .restaurant__card .restaurant__card-new {
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  line-height: 30px;
  position: absolute;
  margin: 10px 0 0 235px;
  text-align: center;
}

.restaurant .restaurant__card .restaurant__card__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurant .restaurant__card .restaurant__card__name {
  width: 75%;
  margin-left: 10px;
  margin-top: 10px;
  line-height: 20px;
}

.restaurant .restaurant__card .fa-heart {
  margin-top: 15px;
  margin-right: 20px;
  font-size: 1.7rem;
}

.restaurant .restaurant__card .fa-heart:hover {
  background-clip: content-box;
  color: #9356DC;
}

.index__img {
  width: 100%;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 50px;
}

.place {
  Font-family: 'Shrikhand';
  height: 1200px;
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  position: relative;
  border-radius: 40px 40px 0 0;
}

.place .place__name {
  padding-top: 5%;
  font-size: 1.5rem;
}

.place .place__name .fa-heart {
  padding-left: 60px;
  padding-right: 10px;
}

.place .place__name .fa-heart:hover {
  color: #9356DC;
}

.place .menu {
  Font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.place .menu .menu__part {
  font-weight: 600;
  margin-left: 5%;
  text-align: left;
  -webkit-animation: opacitystart 2500ms;
          animation: opacitystart 2500ms;
}

.place .menu .menu__part::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-top: 3px;
}

.place .menu .menu__part__dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  width: 345px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px;
          box-shadow: 1px 1px 5px;
  border-radius: 20px;
  margin: auto;
  margin-top: 15px;
  -webkit-animation: slideup ease-in-out 1500ms 100ms;
          animation: slideup ease-in-out 1500ms 100ms;
}

.place .menu .menu__part__dishes.delay-1 {
  -webkit-animation: slideup ease-in-out 1500ms 300ms;
          animation: slideup ease-in-out 1500ms 300ms;
}

.place .menu .menu__part__dishes.delay-2 {
  -webkit-animation: slideup ease-in-out 1500ms 500ms;
          animation: slideup ease-in-out 1500ms 500ms;
}

.place .menu .menu__part__dishes.delay-3 {
  -webkit-animation: slideup ease-in-out 1500ms 700ms;
          animation: slideup ease-in-out 1500ms 700ms;
}

.place .menu .menu__part__dishes.delay-4 {
  -webkit-animation: slideup ease-in-out 1500ms 900ms;
          animation: slideup ease-in-out 1500ms 900ms;
}

.place .menu .menu__part__dishes.delay-5 {
  -webkit-animation: slideup ease-in-out 1500ms 1100ms;
          animation: slideup ease-in-out 1500ms 1100ms;
}

.place .menu .menu__part__dishes.delay-6 {
  -webkit-animation: slideup ease-in-out 1500ms 1300ms;
          animation: slideup ease-in-out 1500ms 1300ms;
}

.place .menu .menu__part__dishes.delay-7 {
  -webkit-animation: slideup ease-in-out 1500ms 1500ms;
          animation: slideup ease-in-out 1500ms 1500ms;
}

.place .menu .menu__part__dishes.delay-8 {
  -webkit-animation: slideup ease-in-out 1500ms 1700ms;
          animation: slideup ease-in-out 1500ms 1700ms;
}

.place .menu .menu__part__dishes:hover .menu__part__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place .menu .menu__part__dishes:hover .menu__part__price {
  -webkit-transform: translateX(-55px);
          transform: translateX(-55px);
}

.place .menu .menu__part__dishes:hover .menu__part__check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.place .menu .menu__part__description {
  font-size: 0.9rem;
  line-height: 20px;
  text-align: left;
  width: 250px;
  margin: 15px 0 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place .menu .menu__part__description strong {
  font-size: 1.1rem;
}

.place .menu .menu__part__price {
  margin: 35px -70px 0 0;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.place .menu .menu__part__check {
  height: 70px;
  width: 70px;
  border-radius: 0 20px 20px 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  opacity: 0;
}

.place .menu .fa-check-circle {
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #99E2D0;
  height: 70px;
  width: 70px;
  border-radius: 0 20px 20px 0;
}

/*#################################*\
####          Media querys       ####
####            768 px           #### 
\*#################################*/
@media all and (min-width: 767px) {
  .index__img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .place .menu .menu__part {
    margin-left: 15%;
  }
}

/*#################################*\
####          Media querys       ####
####            1024 px           #### 
\*#################################*/
@media all and (min-width: 1024px) {
  .index__img {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .place .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .place .menu .menu__part {
    margin-left: 15%;
  }
  .place .menu .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-command {
    margin-top: 100px;
  }
}

/*#################################*\
####          Media querys       ####
####            1440 px           #### 
\*#################################*/
@media all and (min-width: 1440px) {
  .place .menu .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  .place .menu .menu__items .menu__part__dishes {
    margin: 15px;
  }
  .btn-command {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */