@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";

@import "base/base";

@import "components/buttons";

@import "layouts/header";
@import "layouts/footer";


a{
    text-decoration: none;
    color:$font-color-dark;
}
#recherche{
    display:flex;
    justify-content: center;
    height:50px;
    background-color:$bg-color-darken;
    border-top: 3px inset;
    .recherche-position{
        padding-right:10px;
        padding-top:15px;
    }
    .recherche-lieu{
        border:none;
        width:50%;
        background-color:$bg-color-darken;
        font-size:1.5rem;
        font-weight: 600;
        color:$font-color-dark;
        
    }
}
input::placeholder{
    color:$font-color-dark;
    text-align:center;
}
.explore{
    height: 285px;
    
    text-align:center;
    background-color:$bg-color;
    padding-top:10px;
    h1{
    font-size:1.4em;    
    }
    p{
    font-size:1.4em;
    }
    
}

.function{
    display:flex;
    flex-direction:column;
    height:440px;
    
    text-align:left;
    margin-left:10px;
    
    .function-card{
    display:flex;
    flex-direction:row;
    justify-content: center;
    height:75px;
    width:325px;
    margin:auto;
    background-color:$bg-color;
    border-radius:20px;
    box-shadow: 5px 5px 20px;
    line-height:75px;
    &:hover{
        
            background-color:$secondary-color;
            cursor:pointer;
            .function-card_icon{
                color:$primary-color;
             }
        }
    .function-card_icon{
        margin-right:20px;
    }
    

    .function-card_number{
        background-color:$primary-color;
        border-radius:30px;
        height:30px;
        width:30px;
        text-align:center;
        line-height:30px;
        margin-top:25px;
        position:absolute;
        margin-right:330px;
    }
    .function-card_text{
        margin-right:40px;
    }

    }
}
.restaurant{
    height:1225px;
    background-color:$bg-color;
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    .restaurant-card{
        background-color:$bg-card;
        height:250px;
        width:335px;
        margin:10px 20px 10px 20px;
        border-radius:25px;
        text-align:left;
        img{
            height:175px;
            width:335px;
            border-radius:25px 25px 0 0;
            object-fit: cover;
        }
        .restaurant-card-new{
            height:30px;
            width:80px;
            background-color:$tertiary-color;
            line-height:30px;
            position:absolute;
            margin:10px 0 0 235px;
            text-align:center;
        }
        .restaurant-card_tag{
            display:flex;
            justify-content: space-around;
        }
        .restaurant-card_name{
            width:75%;
            margin-left:10px;
            margin-top:10px;
            line-height:20px;
        }
        .restaurant-card_heart{
            margin-top:15px;
            margin-right:20px;
            font-size:1.6rem;
            &:hover{
                color:$primary-color; 
                
            }
        }
    }
}

//#######################//
//##### Restaurant#######//
.index-img{
    width:375px;
    height:255px;
    
    
}
.menu{
  Font-family:'Shrikhand';
  height: 1200px;
  text-align:center;
  background-color:$bg-color;
  border-radius:50px 50px 0 0;
  position: relative;
  
  .menu-part{
  Font-family:'Roboto';
  display:flex;
  flex-wrap:wrap;
  .menu-part-text{
      border-bottom:2px solid black;
      text-transform: uppercase;
    position: relative;
  }
  .menu-part-dishes{
      height: 70px;
      width: 345px;
      background-color:$bg-card;
      box-shadow:1px 1px 5px;
      border-radius:25px;
      margin:auto;
      margin-top:15px;
      text-align:center;
     
  }    
}
}
.btn-command{
    margin-top:40px;
}
  

