header{
    height:65px;
    padding:40px 0;
    
    
}
.header__restaurant{
    display:flex;
    justify-content: center;
    padding-right:20%;
    .logo{
        padding:0 0 0 8%;
        font-size:4rem;
        animation:none;
    }
    .arrow{
    padding: 20px 45px 0 0;
        .fas{
        font-size:250%;
        }
    }
}        
.logo{
    text-align:center;
    font-size:4rem;
    animation: opacitystartlogo 8500ms ease-in-out;
    
    
}
