header{
    height:65px;
    // width:375px;
    margin:40px 30% 40px 30%;
    img{
        padding:25px 0 0 75px;
    }
    .header__restaurant{
        display:flex;
        justify-content: center;
        margin-right:200px;
    }
    .arrow{
        padding: 10px 200px 20px 5px;
    }
    
}