.index__img{
    width:100%;
    height:255px;
    object-fit: cover;
    position:relative;
    top:40px;
}

.place{
  Font-family:'Shrikhand';
  height: 1200px;
  width:100%;
  text-align:center;
  background-color:$bg-color;
  border-radius:50px 50px 0 0;
  position: relative;

  border-radius:40px 40px 0 0;
    .place__name{
        padding-top:5%;
        font-size:1.5rem;
        .far{
            padding-left:60px;
            padding-right:10px;
            font-size:2rem;
            &:hover{
                display:none; 
            }
        }
        .fas{
            position:relative;
            left:-47px;
            top:1px;
            font-size:2.1rem;
            color:transparent;
            &:hover{
                color:$primary-color;
                
            }
        }
    }
    .menu{
    Font-family:'Roboto';
    display:flex;
    flex-direction: column;
    margin-top:30px;
        .menu__part{
        font-weight: 600;
        margin-left:5%;
        text-align: left;
        animation: opacitystart 2500ms;
        }
        .menu__part::after{
            content:"";
            display: block;
            background-color:$tertiary-color;
            height:3px;
            width:40px;
            margin-top:3px;
        }
        .menu__part__dishes{
        display:flex;
        justify-content:space-between;
        height: 70px;
        width: 345px;
        background-color:$bg-card;
        box-shadow:1px 1px 5px;
        border-radius:20px;
        margin:auto;
        margin-top:15px;
        animation: slideup ease-in-out 1500ms 100ms;
            &.delay-1{
                animation: slideup ease-in-out 1500ms 300ms;
            }
            &.delay-2{
                animation: slideup ease-in-out 1500ms 500ms;
            }
            &.delay-3{
                animation: slideup ease-in-out 1500ms 700ms;
            }
            &.delay-4{
                animation: slideup ease-in-out 1500ms 900ms;
            }
            &.delay-5{
                animation: slideup ease-in-out 1500ms 1100ms;
            }
            &.delay-6{
                animation: slideup ease-in-out 1500ms 1300ms;
            }
            &.delay-7{
                animation: slideup ease-in-out 1500ms 1500ms;
            }
            &.delay-8{
                animation: slideup ease-in-out 1500ms 1700ms;
            }
            &:hover{
                .menu__part__description{
                    & p{
                    color:red;   /**????????????*/
                    display:block;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    }
                    
                }
                
                .menu__part__price{
                transform: translateX(-55px);
                                  
                }
                .menu__part__check{
                transform: scaleX(1);
                opacity: 1;
                }     
            }
        }
        .menu__part__description{

            font-size:0.9rem;
            line-height:20px;
            text-align: left;
            width:250px;
            margin:15px 0 0 20px;
            p{
                margin-top:0;
            }
            strong{
            font-size:1.1rem;
            }

        }
        .menu__part__price{
            margin:35px -70px 0 0;
            transition: transform 500ms;
            
        }
        .menu__part__check{
            height: 70px;
            width:70px;
            border-radius:0 20px 20px 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 500ms;
            opacity: 0;

        }
        .fa-check-circle{
            color:white;
            font-size:2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background:$tertiary-color;
            height: 70px;
            width:70px;
            border-radius:0 20px 20px 0;
        }
 
    }    

}